@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

/* Header style start */

header{
    background: url('./images/banner/banner3.png') no-repeat center;
    height: 800px ;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: right;
    padding-right: 200px;
}
.header-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}
header p{
    width: 400px;
    margin-left: 60px;
}
header h1{
    font-size: 65px;
    font-weight: 700;

}
header button{
    width: 160px;
    color: blue;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
}

/* -----My bio info style--- */
.bio-section{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 150px;
}
.bio-section .bio-image{
    width: 50%;
}
.bio-section .bio-image img{
    width: 100%;
}

.bio-section .bio-content{
    width: 50%;
}
.bio-content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.bio-content ul{
    margin-top: 20px;
    line-height: 30px;
}
.bio-content ul li{
    list-style: none;
    display: flex;
    gap: 10px;
}


/* -----plans section style start */
.plans-section{
    max-width: 1440px;
    margin: auto;
    margin-top: 150px;
}
.plans-card-container{
    display:flex;
    justify-content: space-around;
}
.plans-section h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.plans-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.plans-card h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}